<?xml version="1.0" encoding="UTF-8" ?>

<frame id="frame" size="600,110" title="Portable Java Launcher, v1.0.12, build 14-11-21.">

  <menubar id="mb">

<!--	START CUSTOM USER MENU 	   -->

    <menu text="File">
      <menuitemicon 
          text="mucommander"
          path="./soft/fm/mucommander.jar"
          icon="file:./soft/fm/SubFrameIcon.png"
          Action="execAction"/>
    </menu>

    <menu text="Media">
      <menu text="Image">
      	<menuitem text="./soft/media/image/screencapture.jar" Action="execAction"/>
      	<menuitem text="./soft/media/image/pluck_0.4.jar" Action="execAction"/>
	<menuitem text="./soft/media/image/jdraw_v1.1.5.jar" Action="execAction"/>
	<menuitem text="./soft/media/image/CrypPic.jar" Action="execAction"/>
	<menuitem text="./soft/media/image/JavaPoint.jar" Action="execAction"/>
	<menuitem text="./soft/media/image/jivam/jivam.jar" Action="execAction"/>
	<menuitem text="./soft/media/image/pixelitor_4.0.2.jar" Action="execAction"/>
      </menu>
     <menu text="Audio">
      <menuitem text="./soft/media/audio/sjmp3/sjmp3.jar" Action="execAction"/>
      <menuitem text="./soft/media/audio/jlgui/jlgui3.0.jar" Action="execAction"/>
      <menuitem text="./soft/media/audio/xtrememp-0.8/XtremeMP.jar" Action="execAction"/>
      </menu>
      <separator/>
      <menuitem text="./soft/media/video/jv/jv_player.jar" Action="execAction"/>
     </menu>

    <menu text="Docs">
      <menuitem text="./soft/doc/djvu/javadjvu.jar" Action="execAction"/>
      <menuitem text="./soft/doc/pdf/jpdfviewer.jar" Action="execAction"/>
       <menuitem text="./soft/doc/pdf/pdfsam/pdfsam-2.2.4.jar" Action="execAction"/>
      <menuitem text="./soft/doc/jrn/jrn.jar" Action="execAction"/>
    </menu>

    <menu text="DataBase">
      <menuitem text="./soft/db/ExecuteQuery/eq.jar" Action="execAction"/>
      <menuitem text="./soft/db/sqlworkbench/sqlworkbench.jar" Action="execAction"/>
    </menu>

    <menu text="Devel">
      <menuitem text="./soft/devel/drjava.jar" Action="execAction"/>
      <menuitem text="./soft/devel/jd-gui-1.6.6.jar" Action="execAction"/>
      <menuitem text="./soft/devel/luyten-0.5.4.jar" Action="execAction"/>
    </menu>

    <menu text="Games">
      <menu text="Lines">      
     	<menuitem text="./soft/game/lines/lines.jar" Action="execAction"/>      
      	<menuitem text="./soft/game/lines/LinesGame.jar" Action="execAction"/>
      </menu>
      <separator/>
      <menu text="Tetris">
      	<menuitem text="./soft/game/tetris/tetris.jar" Action="execAction"/>      
      	<menuitem text="./soft/game/tetris/JTetris.jar" Action="execAction"/>
      	<menuitem text="./soft/game/tetris/jetris/JETRIS.jar" Action="execAction"/>      
      </menu>
      <separator/>
      <menu text="Chess">
	<menuitem text="./soft/game/chess/JChessBoard/JChessBoard.jar" Action="execAction"/>
	<menuitem text="./soft/game/chess/sjce/sjce.jar" Action="execAction"/>
      </menu>
      <separator/>      
       <menuitem text="./soft/game/reversi/Othello.jar" Action="execAction"/>      
      <menuitem text="./soft/game/boxworld.jar" Action="execAction"/>
      <menuitem text="./soft/game/fifteen.jar" Action="execAction"/>
      <menuitem text="./soft/game/Sudoku.jar" Action="execAction"/>
      <menuitem text="./soft/game/TicTacToe.jar" Action="execAction"/>
      <menuitem text="./soft/game/yams.jar" Action="execAction"/>
    </menu>
    
    <menu text="Network">
      <menu text="Servers"> 
        <menuitem text="./soft/net/servers/pj-ftp-server/pj-ftp-server.jar" Action="execAction"/>  
        <menuitem text="./soft/net/pj-net-tools/pj-net-tools.jar" Action="execAction"/>       
      	<menuitem text="./soft/net/servers/hafkenserver/hafkenserver_v2.6.jar" Action="execAction"/>  
      	<menuitem text="./soft/net/servers/pvfserver_2.4.jar" Action="execAction"/>       
      </menu>
      <separator/>
      <menu text="Remote Access">
      	<menuitem text="./soft/net/restclient-3.2.2.jar" Action="execAction"/>
      	<menuitem text="./soft/net/jfterm.jar" Action="execAction"/>
      	<menuitem text="./soft/net/jrdesktop-0.3.1.0.jar" Action="execAction"/>
        <menuitem text="./soft/net/pj-net-tools/pj-net-tools.jar" Action="execAction"/>      	
      </menu>
      <separator/>
      <menu text="SNMP">
      	<menuitem text="./soft/net/snmp/jmibbrowser/jmibbrowser.jar" Action="execAction"/>
      </menu> 
      <separator/> 
      <menu text="FTP-client">
      	<menuitem text="./soft/fm/mucommander.jar" Action="execAction"/>
      </menu>          
      <separator/>
      <menuitem text="./soft/net/pj-net-tools/pj-net-tools.jar" Action="execAction"/> 
      <menuitem text="./soft/net/sockettest/SocketTest.jar" Action="execAction"/>      
      <menuitem text="./soft/net/JPacketGenerator.jar" Action="execAction"/>
      <menuitem text="./soft/net/dolly/DollyScriptedTelnetV3.0.jar" Action="execAction"/>
      <menuitem text="./soft/net/jftp.jar" Action="execAction"/>
      <menuitem text="./soft/net/djp/djp.jar" Action="execAction"/>
      <menuitem text="./soft/net/dat/DAT.jar" Action="execAction"/>
     </menu> 
    
    <menu text="Security">
      <menuitem text="./soft/sec/pkg/pkg.jar" Action="execAction"/>
      <menuitem text="./soft/sec/hofat/hofat.jar" Action="execAction"/>
    </menu> 
    
    <menu text="Utils">
      <menu text="ARCHIVER">
      	<menuitem text="./soft/fm/mucommander.jar" Action="execAction"/>
      </menu> 
      <separator/>        
      <menu text="HDD/SSD">
      	<menuitem text="./soft/util/hdd/discspy-0.4.jar" Action="execAction"/>
      	<menuitem text="./soft/util/hdd/jdiskcat-1.3.3.jar" Action="execAction"/>
	<menuitem text="./soft/util/hdd/jdiskreport-1.3.1.jar" Action="execAction"/>
      	<menuitem text="./soft/util/hdd/QuickDiskTest-1.jar" Action="execAction"/>
      	<menuitem text="./soft/util/hdd/FileReadTest-1.05.jar" Action="execAction"/>      
      </menu>
      <separator/>
      <menuitem text="./soft/util/jsk/jsk.jar" Action="execAction"/>
      <menuitem text="./soft/util/sysmon.jar" Action="execAction"/>
      <menuitem text="./soft/util/calcoo.jar" Action="execAction"/>      
      <menuitem text="./soft/util/jscicalc2-0.4.jar" Action="execAction"/>
     </menu>

<!--	END CUSTOM USER MENU	-->

  </menubar>

  <panel id="pnl_Center" layout="borderlayout" constraints="BorderLayout.CENTER">

    <toolbar id="tb" floatable="false" rollover="false" borderPainted="true" orientation="HORIZONTAL">
      <button ToolTipText="Skin"  visible="false" enabled="true" icon="img/24x24/skin-24.png" ActionCommand="AC_SKIN"/>
      <button ToolTipText="Sys Info" enabled="true" icon="img/24x24/pc.png" ActionCommand="AC_SYS"/>
      <button ToolTipText="About" enabled="true" icon="img/24x24/info-green.png" ActionCommand="AC_ABOUT"/>
      <button ToolTipText="Help"  enabled="true" icon="img/24x24/info-book-green.png" ActionCommand="AC_HELP"/>             
      <button ToolTipText="Exit"   enabled="true" icon="img/24x24/exit.png" ActionCommand="AC_EXIT"/>
      <label text="  Portable Java Launcher for executable files = *.jar, *.exe, *.bat, *.sh ..."/>
    </toolbar>

  </panel>

</frame>